<h1>Models</h1>

<table class = "tablesorter">

	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th><!--Show Button--></th>
			<th><!--Edit Button--></th>
			<th><!--Equation Editor Link--></th>
			<th><!--Workflow Editor Link--></th>
			<th><!--Destroy Button--></th>
		</tr>
	</thead>

	<tbody>
		<% @models.each do |model| %>
			<tr>
				<td><%= model.name %></td>
				<td><%= model.description %></td>
				<td><%= button_to 'Show', model, :method => :get %></td>
				<td><%= button_to 'Edit', edit_model_path(model), :method => :get %></td>
				<td><%= link_to 'Equation Editor', equations_path(model) %></td>
				<td>link_to 'View Editor'</td>
				<td><%= button_to 'Destroy', model, :confirm => 'Are you sure you want to delete this model and all its associated data, including variables and relations? This cannot be undone...', :method => :delete %></td>
			</tr>
		<% end %>
	</tbody>  
</table>

<br/>

<%= button_to 'New Model', new_model_path, :method => :get %>
