<% @title = @block.name %>

<h1><%=@title %></h1>

<!--Display form for entering values into this block's input block_variables -->
<%=form_for :block_variables, :url => block_variable_path do |f| %>
	<% for bv in @block.block_variables.order(:sort_index) %>
	
		<!--Lookup data -->
		<%
			id = bv.variable.id
			name = bv.variable.name
			value = ''# Put current/default value here
			display_type = bv.display_type
		%>
		
		<!--Check if this block_variable is input or output -->
		<% if display_type == :input %>
			<!--Create tags for form input -->
			<%=f.label "variables[#{id}]", "#{name}: " %>
			<%=f.text_field "variables[#{id}]", :value => value %>
		<% else %>
			<!--Create tags for basic output display -->
			<%=name %> = <%=value %>
		<% end %>
		<br/>
		
	<% end %>
	
	<!--Hidden tag for including the block_id -->
	<%=f.hidden_field 'block_id', :value => @block.id %>
	
	<!--Submit tag for submitting inputted data -->
	<%=f.submit("Submit", :class => "button") %>
	
<% end %>
