<h3>Current Variables</h3>

<div id="truncated_variables" class="truncated">
<table cellpadding="0" cellspacing="0" class="tablesorter">
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  <% if @variables.empty? %>
    <tr>
      <td>You currently have no variables defined.</td>
      <td />
    </tr>
  <% else %>
    <% num = 0
    for variable in @variables %>
      <tr>
		 <td>
			<span style="width: 50px">
			<% if variable.input? %>
				<span class="user_defined_var">
				 <%= truncate(variable.name_with_indices, :length =>20, :omission => '...') %>
				</span>
		    <% else %>
				<%= truncate(variable.name_with_indices, :length =>20, :omission => '...') %>
			<% end %> 
			</span>
		 </td>
         <td style="text-align: left;"> 
			<a class="dialog_link" index="<%=num%>">more</a>
		 </td>
                 <td>
		 <% d_id = "dialog_#{num}"%>
			 <div id = "<%=d_id%>" style="display: none">
             			<h1><%= variable.name_with_indices %></h1>
				<p>Description: <%= variable.description %></p>
                                <p>Variable Type: <%= variable.variable_type_string  %></p>
                                <p><%= variable.name_with_indices %> = <%= truncate(variable.expression_string, :length =>17, :omission => '...(continued)') %></p>
			 </div>
                 </td>
		 
      </tr>
    <% num += 1
    end %>
  <% end %>
</tbody>  
</table>
</div>
