<h3>Current Blocks</h3>
<div id = "truncated_blocks">
<table cellpadding="0" cellspacing="0" class = "tablesorter">

<!--Table Headers -->
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>

<!--Table Body -->
<tbody>
	
	<!--Each Block on a row, with all its connections put together into a string -->
	<!--TODO: Come up with a better way to display the blocks -->
	<% num = 0
    for block in @blocks %>
        <tr>
	
	  <!--Skip "output" blocks with a non-nil display_type -->
	  <% if !block.display_type.nil? %>
		<% next %>
	  <% end %>
      
      
      
      <% myString = ""
        for bv in block.block_variables.order(:sort_index) 
            name = bv.variable.name
            myString = myString + name + " \n"
        end
    %>
    
    <% myString2 = ""
        for bc in block.block_connections.order(:sort_index) 
            express = bc.expression_string
            myString2 = myString2 + express +  " \n"
        end
    %>
        
	
	  <!--Prepare strings to be displayed in HTML for this block -->
	  <% name = block.name %>
	
	
	  <!--Render this block in HTML -->
      <td><%=name %></td>
      <td style="text-align: left;">
        <a class = "dialog_link_block" index=<%=num%>> more </a>
        </td>
      <% d_id = "dialog_block_#{num}"%>
			 <div id = "<%=d_id%>" style="display: none">
             				<h1><%=name %></h1>
				<p>
					Variables contained in this block: <%=myString %>
				</p>
                <p>
                 Connections: <%=myString2 %>
                </p>
			 </div>
      </tr>
      <% num += 1
        end %>
	
</tbody>  
</table>
</div>
