
<h3>Current Variables</h3>

<div id="truncated_variables">
<table cellpadding="0" cellspacing="0" class="tablesorter">
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  <% for variable in @variables %>
    <tr>
		<% 
		description = variable.description
        type = variable.variable_type_string
        expression = variable.expression_string
        if expression == nil
            expression = ""
        end
        if type == nil
            type = ""
        end
		myString = variable.name_with_indices + 
		 " | " + description + " | " + type	+  " | " +
		 truncate(expression, :length =>17, :omission => '...(continued)')	%>
		 <td>
			<%= variable.name_with_indices %>
			 <div class="trigger"><input type="image" src="/assets/asc.gif" value=""></div>
		</td>
			 <div class="popupContact">
				<a class="popupContactClose">x</a>
				<h1><%= variable.name_with_indices %></h1>
				<p>
					<%= myString %>
				</p>
			 </div>
	         <div class="backgroundPopup"></div>
		 
        <!-- <td onClick="alert('<%= myString %>')"><%= variable.name_with_indices %> <button class="opener">expand </button></td> -->
    </tr>
  <% end %>
</tbody>  
</table>
</div>