<h3>Current Workflows</h3>
<div class="truncated">
<table cellpadding="0" cellspacing="0" class="tablesorter">

<!--Table Headers -->
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>

<!--Table Body -->
<tbody>
  <% if @workflows.empty? %>
    <tr>
      <td>You currently have no workflows defined.</td>
      <td />
    </tr>
  <% else %>
	<!--Each Block on a row, with all its connections put together into a string -->
	<!--TODO: Come up with a better way to display the blocks -->
	<% num = 0
    for workflow in @workflows %>
        <tr>
	
	  <!--Prepare strings to be displayed in HTML for this block -->
	  <% name = workflow.name %>
	
	  <!--Render this block in HTML -->
      <td><%= name %></td>
      <td style="text-align: left;">
        <a class="dialog_link_workflow" index="<%= num%>">more</a>
        </td>
      <td class="hidden">
      <% d_id = "dialog_workflow_#{num}"%>
			 <div id="<%=d_id%>" style="display: none">
             				<h1><%=name %></h1>
				<p>Blocks: <%= workflow.blocks_as_string %></p>
            </div>
       </td>
      </tr>
      <% num += 1
        end %>
  <% end %>
</tbody>  
</table>
</div>
