<h3>Current Variables</h3>

<div id="truncated_variables" class="truncated">
<table cellpadding="0" cellspacing="0" class="tablesorter">
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  <% if @variables.empty? %>
    <tr>
      <td>You currently have no variables defined.</td>
    </tr>
  <% else %>
    <% num = 0
    for variable in @variables %>
      <tr>
		<% 
		description = variable.description
        type = variable.variable_type_string
        expression = variable.expression_string
        if expression == nil
            expression = ""
        end
        if type == nil
            type = ""
        end
		myString = 
		variable.name_with_indices + 
		 " | " + description + " | " + type +  " | " +
		 truncate(expression, :length =>17, :omission => '...(continued)')
	%>
		 <td>
			<span style="width: 50px">
			<% if variable.input? %>
				<span class="user_defined_var">
				 <%= truncate(variable.name_with_indices, :length =>20, :omission => '...') %>
				</span>
		    <% else %>
				<%= truncate(variable.name_with_indices, :length =>20, :omission => '...') %>
			<% end %> 
			</span>
		 </td>
         <td style="text-align: left;"> 
			<a class="dialog_link" index="<%=num%>">more</a>
		 </td>
                 <td>
		 <% d_id = "dialog_#{num}"%>
			 <div id = "<%=d_id%>" style="display: none">
             				<h1><%= variable.name_with_indices %></h1>
				<p>
					<%=myString %>
				</p>
			 </div>
                 </td>
		 
      </tr>
    <% num += 1
    end %>
  <% end %>
</tbody>  
</table>
</div>
