<% @title = "Edit Block" %>

<h1>Edit Blocks</h1>

<%= render(:partial => 'flash_message', :locals => {:flash_symbol => :block_failed, :tag => 'div', :class_name => 'error'}) %>

<div style="width: 100%; height: 700px;">
	<div class = "left_column">
		<%= render "current_variables_truncated" %>
		<%= render "current_blocks_truncated" %>
	</div>
	
	<div class = "right_column">
			<div id="tabs">
			  <ul>
				<li><a href="#tabs-1">Create Block</a></li>
                                <li><a href="#tabs-2">Add Inputs</a></li>
                                <li><a href="#tabs-3">Add Outputs</a></li>
				<li><a href="#tabs-4">Add Connections</a></li>
			  </ul>
                <!-- TAB 1 -->
				<div id="tabs-1">
                    <%= form_for(:create_block, :html => {:class => "input_formB"}) do |f| %>
					 <div id="var_input_block">
						<div>
							<%= f.label(:name, "Name of Block: ") %>
							<%= f.text_field :name %>
						</div>
					 </div>
					 <div id="input_button">
                        <%= f.submit("Create Block", :class => "button") %>
					 </div>
                    <% end %>
                </div>
                
                 <!-- TAB2 -->
                <div id = "tabs-2">
                    Please enter one per line. <br />
                    <%= form_for(:create_block_inputs, :html => {:class => "input_formB"}) do |f| %>
					<div id="var_input_block">
						<div>
							<%= f.label(:name, "Name of Block: ") %>
							<%= f.text_field :name, :class => "auto_complete_blocks" %>
						</div>
						<div>
							<%= f.label(:variables_string, "Input Variables: ") %>
							<%= f.text_area :variables_string, :id =>"drop_var" %>
						</div>
						<div>
							<%= f.label(:formatting, "Format:") %>
							<%= f.select(:formatting, [['Graph', 'graph'], ['Integer', 'integer'], ['Percentage', 'percent']]) %>
						</div>
                    </div>
					<div id="input_button">
                        <%= f.submit("Create Input Variables", :class => "button") %>
					</div>
                    <% end %>
                </div>

                <!--TAB3 -->      
				<div id="tabs-3">
                <%= form_for(:create_block_outputs, :html => {:class => "input_formB"}) do |f| %>
					<div id="var_input_block">
						<div>
							<%= f.label(:name, "Name of Block: ") %>
							<%= f.text_field :name, :class => "auto_complete_blocks" %>
						</div>
						<div>
							<%= f.label(:variables_string, "Output Variables: ") %>
							<%= f.text_area :variables_string, :id =>"drop_var_output" %>
						</div>
						<div>
							<%= f.label(:formatting, "Format:") %>
							<%= f.select(:formatting, [['Integer', 'integer'], ['Percentage', 'percent']]) %>
						</div>
					</div>
					<div id="input_button">
						<%= f.submit('Add Output', :class => "button") %>
					</div>
                <% end %>
                </div>
                
                <!-- TAB4 -->
				<div id="tabs-4">
					Enter connections to get to next block after this one, one per line.<br/>
					Each connection has a block name, an arrow (=>), and a boolean expression<br/>
					Example: 'has_ac == true => AC_Block'
					Please do not add empty lines.
					Block connections, one per line: 
                    <%= form_for(:create_block_connections, :html => {:class => "input_formB"}) do |f| %>
					<div id="var_input_block">
						<div>
							<%= f.label(:name, "Name of Block: ") %>
							<%= f.text_field :name, :class => "auto_complete_blocks" %>
						</div>
						<div>
							<%= f.label(:connections_string, "Block Connections: ") %>
							<%= f.text_area :connections_string %>
						</div>
					</div>
					<div id="input_button">
                        <%= f.submit("Create Block", :class => "button") %>
					</div>
                    <% end %>
                </div>
                
             </div>
			   </br>
			 <div id="display_workflow">
				<h3> Check out the Workflow </h3>
				</br></br>
				<%= button_to "View Expert Workflow", "/run/#{session[:user_id]}",
				    {:method => :post, :class => "button"} %>
			 </div>  
		</div>
	</div>

