<img src="assets/lembic_l1.png" alt="Lembic Logo" height="80" width="80" />  <h1 style="float: left">Welcome to Lembic!</h1>


<p><%= link_to "Variable Editor", "/editor/variables" %></p>
<p><%= link_to "Equation Editor", "/editor/equations" %></p>
<p><%= link_to "View Editor", editsection_path %></p>
<p><%= link_to "Evaluator", "/evaluator" %></p>
<p><%= link_to "Help", help_path %></p>
