<h1>Evaluate</h1>

  <table>
    <tr>
      <th>Enter your variables in this form: {'varName' => value, 'varName2' => value2}</th>
      <th>Output</th>
    </tr>
    
    <tr>
      <td>
        <%= form_for(:variables) do |f| %>
          <%= f.label(:output_variable, "Variable to Solve For") %>
          <%= f.text_field :output_variable %>
          <%= f.text_area :input_values %>
          <%= f.submit "Run Model" %>
        <% end %>
      </td>
      <td>
        <ul>
          <% for variable_name, variable_result  in @results %>
            <li><%= variable_name %>: <%= variable_result[:value] %></li>
          <% end %>
        </ul>
      </td>
    </tr>
</table>
