<% @title = "Evaluator" %>
<h1>Evaluate</h1>

<%= render "current_variables" %>

<%= render "current_equations" %>
  <p>Enter input variables in this form: {'varName' => value, 'varName2' => value2}</p>
  <p>Enter output variables in this form: [{:name => 'varName'}, {:name => 'varName2'}]</p>
  <p>Specify array outputs with min and max indices in this form: {:name => 'varName', :indices => {:min => 0, :max => 8759}}</p>
  <table>
    <tr>
      <th>Input</th>
      <th>Output</th>
    </tr>
    
    <tr>
      <td>
        <%= form_for(:evaluator) do |f| %>
          <div>
            <%= f.label(:input_variables, "Input Variable Values") %><br/>
            <%= f.text_area :input_values %><br/>
            <%= f.label(:output_variables, "Variables to Solve For") %><br/>
            <%= f.text_area :output_variables %><br/>
            <%= f.submit('Run Model', :class => "button") %>
          </div>
        <% end %>
      </td>
      <% if !@results.empty? %>
        <td>
          <ul>
            <% for variable_name, variable_result in @results %>
              <% if variable_result[:values] %>
              <li><%= variable_name %>: <%= variable_result[:values].inspect %></li>
              <% else %>
              <li><%= variable_name %>: <%= variable_result[:value] %></li>
              <% end %>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
</table>
