<% @title = "Evaluator" %>
<h1>Evaluate</h1>

<%= render "current_variables" %>
<%= render "current_equations" %>

<p>Enter input variables in this form: {'varName' => value, 'varName2' => value2}</p>
<p>Enter output variables in this form: [{:name => 'varName'}, {:name => 'varName2'}]</p>
<p>Specify array outputs with min and max indices in this form: {:name => 'varName', :indices => {:min => 0, :max => 8759}}</p>
<%= form_for(:evaluator) do |f| %>
  <div>
    <%= render(:partial => 'flash_message', :locals => {:flash_symbol => :evaluator_error, :tag => 'p', :class_name => 'error'}) %>
    <h2>Input Values</h2>
    <ul class="input_values">
      <% i = 0 %>
      <% for input_variable in @input_variables %>
        <li>
          <%= f.label(:input_values, input_variable.name + ' = ', :for => "evaluator_input_value_#{i}") %>
          <%= f.text_field(:input_values, :id => "evaluator_input_value_#{i}", :name => 'evaluator[input_values][]') %>
        </li>
        <% i += 1 %>
      <% end %>
    </ul>
    <h2>Variable to Solve For</h2>
    <div>
      <%= f.label(:variable_to_solve_for, 'Variable to solve for: ') %>
      <%= f.text_field(:variable_to_solve_for) %>
    </div>
    <div>
      <%= f.label(:min_index, 'For arrays, input the minimum index to solve for:') %>
      <%= f.text_field(:min_index, :class => 'numeric_input') %>
    </div>
    <div>
      <%= f.label(:max_index, 'For arrays, input the maximum index to solve for:') %>
      <%= f.text_field(:max_index, :class => 'numeric_input') %>
    </div>
    <%= f.submit('Run Model', :class => "button") %>
  </div>
<% end %>
<h2>Output Values</h2>
<ul class="output_values">
  <% i = 0 %>
  <% for output_variable_name, output_variable_value in @output_variables %>
    <li><%= output_variable_name + ' = ' + output_variable_value %></li>
  <% end %>
</ul>
