
<h3>Current Variables</h3>
 
<table cellpadding="0" cellspacing="0" class="tablesorter">
<thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
	<th>Array?</th>
    <th>Type</th>
	<th>Relationship</th>
	<th></th>
  </tr>
</thead>
<tbody>
  <% for variable in @variables %>
    <tr>
      <td><%= variable.name %> </td>
      <td><%= variable.description %></td>
      
      <% if variable.array == 0 %>
        <td>No</td>
      <% elsif variable.array == 1 %>
         <td>Yes</td>
      <% end %>
      
      <td><%= variable.variable_type_string %></td>
      <td><%= variable.expression_string %></td>
      
      <td class="delete">
        <%= button_to "Delete this variable", "#{delete_variable_path}?id=#{variable.id}",
           {:confirm => "Are you sure you want to delete the variable named #{variable.name}?",
            :method => :delete} %>
      </td>
    </tr>
  <% end %>
</tbody>  
</table>
