
<% if !variable.expression_string.nil?
        truncated_array = variable.expression_string.split(/\|\s*/)[1]
    else 
        truncated_array = ""
    end %>
<%	if variable.array? and !truncated_array.nil?
		truncated_array = truncated_array[0..-2]
		comma_separated_array = truncated_array.split(/\s*,\s*/)
		num = comma_separated_array.size()
%>
	<div id = "full_array">
	
<h1><%= variable.name %></h1>
		<table>
		<th> index </th>
		<% for k in 1..10 %>
				<th> <%= k %> </th>
		<% end %>
		<% i = 0
		while i < num %>
			<tr>
			<td id ="col_header"> <%= i %> </td>
			<% for j in 1..10 %>
				<td>
				<%=comma_separated_array[i+j] %>
				</td>
			<% end %>
			</tr>
	<% i+=10;
		end 
	%>
	</table>
	</div>
<% else %>
<h1><%= variable.name %></h1>
<%= variable.name %> = <%=variable.expression_string %>
<% end %>
