<h1>Equation Editor</h1>

<p><%= link_to "Home",  root_path %>
| <%= link_to "Help", help_path %></p>

<h1>Current Variables</h1>

<table>

  <tr>
    <th>Array?</th>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
<% for variable in @variables %>
    <tr>
      <td><%= variable.array %></td>
      <td><%= variable.variable_type %></td>
      <td><%= variable.name %></td>
      <td><%= variable.description %></td>
    </tr>
  <% end %>
</table>

<h1>Current Variables</h1>

<table>

  <tr>
    <th>Relationship</th>
  </tr>
<% for variable in @variables %>
    <tr>
      <td> <%= variable.name %> = <%=variable.expression_string %></td>
      <td><%= form_for(:delete_relationship) do |f| %>
            <% @delete_relationship = variable %>
            <%= f.submit "Delete this relationship" %>
        <% end %></td>
    </tr>
  <% end %>
</table>

<h1>Create Relationship</h1>
<%= form_for(:new_relationship) do |f| %>
<table>
    <tr>
    <th><%= f.label(:var, "Variable") %></th>
    <th> </th>
    <th><%= f.label :relationship %></th>
    </tr>
    <tr>
    <td> <%= f.text_field :var%></td>
    <td><b><strong> = </strong></b></td>
    <td><%= f.text_area :relationship %></td>
    </tr>
    <tr>
    <td></td>
    <td> <%= f.submit "Save Relationship" %></td>
    <td></td>
    </tr>
    <tr>
    <td></td>
    <td><%= link_to "Francisco, Look What You Can Do...", "/editor/evaluator" %></td>
    <td></td>
    </tr>
</table>
<% end %>
