<% @title = "Equation Editor" %>

<!--Slider Script -->
<script type="text/javascript">
  $(function() {
    $( "#slider" ).slider();
  });
</script>

<ul id="sortable" name="sortable" class = "sortable">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
 
      
<h1>Equation Editor</h1>

<h3>Create Magical Anything You Feel Like</h3>

<%= form_for(:new_equation, :html => {:class => "input_form"}) do |f| %>
<div id="var_input_block">
	<div>
		<%= f.label(:variable_type, "Variable Type:") %>
		<%= f.select(:variable_type, [['Categorical', '0'], ['Integer',
		'1'], ['Real', '2'], ['Date and Time', '3']]) %>
	  </div>

	  <div>
		<%= f.label(:description, "Description:") %>
		<%= f.text_field(:description) %>
	  </div>
		<div>
		<%= f.check_box(:array) %>
		<%= f.label(:array, "Is this an array?") %>
	  </div>
	</div>
	<div id = "expression">
		<%= f.text_field(:name) %> = 
		<%= f.text_area(:expression_string) %>
	</div>
	
	<%= render(:partial => 'flash_message', :locals => {:flash_symbol => :variable_not_saved, :tag => 'div', :class_name => 'error'}) %>
	 <div style="text-align: center">
		<%= f.submit("Create Equation", :class => "button") %>
	 </div>
<% end %>

<h3> Create an Event</h3>
<%= form_for(:event, :html => {:class => "input_form"}) do |f| %>
    <div id="var_input_block">
        <!-- Type of day -->
        <div>
            <%= f.label(:day_week, "Type of Day:") %>
            <%= f.select(:day_week, [['Weekday', '0'], ['Weekend',
            '1'], ['Holiday', '2'], ['Other', '3']]) %>
        </div>
  
        <!-- Slider -->
        <div>
            <label for="time">Time range (in military time):</label>
            <input type="text" id="time" style="border:0; color:#f6931f; font-weight:bold;" />
        </div>
		<div style="width: 70%; margin-left: 40px">
			<div id="slider-range"></div>
        </div>
		<br>
        <!-- Repeating -->
          <div> Does this event repeat? </div> 
		  <div>
				<%= label_tag(:nil, "From: ")%>
				<!-- Datepicker -->       
				<div> <input type="text" class="datepicker"></input></div>
          </div>
            
          <div>
				<%= label_tag(:nil, "To: ")%>
				<!-- Datepicker -->       
				<div><input type="text" class="datepicker"></input></div>
          </div>
		  <br>
		  <div style="color: #1e3652"> 
			Repeat every
		  </div>
		  <div id = "date_range">
			<div>
				<%= check_box_tag(:mon) %>
				<%= label_tag(:mon, "Monday") %>
			</div>
            <div>
				<%= check_box_tag(:tues) %>
				<%= label_tag(:tues, "Tuesday") %>
            </div>
            <div>
				<%= check_box_tag(:wed) %>
				<%= label_tag(:wed, "Wednesday") %>
            </div>
            <div>
				<%= check_box_tag(:thurs) %>
				<%= label_tag(:thurs, "Thursday") %>
            </div>
            <div>
				<%= check_box_tag(:fri) %>
				<%= label_tag(:fri, "Friday") %>
            </div>
            <div>
				<%= check_box_tag(:sat) %>
				<%= label_tag(:sat, "Saturday") %>
            </div>
            <div>
				<%= check_box_tag(:sun) %>
				<%= label_tag(:sun, "Sunday") %>
            </div>  
		</div>
    </div> 
  
    <!--Submit-->
    <div>
    
        <p class="submit_paragraph">
            <%= f.submit("Upload Event", :id => "event_submit", :class => "button") %>
        </p>
    </div>
<% end %>

<h3>Upload Array</h3> 
<%= form_for(:new_constant_array, :html => {:multipart => true, :class => "input_form"}) do |f| %>
  <div id="var_input_block">
		<div>
		  <%= f.label(:name, "Variable Name:") %>
		  <%= f.text_field(:name) %>
		</div>
		<div>
		  <%= f.label(:variable_type, "Variable Type:") %>
		  <%= f.select(:variable_type, [['Categorical', '0'], ['Integer',
		  '1'], ['Real', '2'], ['Date and Time', '3']]) %>
		</div>
		<div>
		  <%= f.label(:description, "Description:") %>
		  <%= f.text_field(:description) %>
		</div>
		<div>
		  <%= f.label(:column_number, "First column of array ") %>
		  <%= f.text_field(:column_number, :class => "numeric_input") %>  <span style="color: #1e3652">e.g., 1 for the left-most column </span>
		</div>
		<div>
		  <%= f.label(:start_row, "First row of array ") %>
		  <%= f.text_field(:start_row, :class => "numeric_input") %>  <span style="color: #1e3652">e.g., 1 for the top-most row </span>
		</div>
		
		<%= render(:partial => 'flash_message', :locals => {:flash_symbol => :variable_not_saved, :tag => 'div', :class_name => 'error'}) %>
		<div>
		  <%= f.label(:data_file, "Select a CSV file.") %>
		  <%= f.file_field(:data_file) %>
		</div>
	</div>
    <div style="text-align: center">
      <%= f.submit("Upload Array", :id => "file_upload_submit", :class => "button") %>
    </div>

<% end %>

<h3>Current Equations</h3>
<table cellpadding="2" cellspacing="0">
  <tr>
    <th>Equation</th>
    <th></th>
  </tr>
  <% for variable in @variables %>
    <tr>
      <td class="preserve_whitespace"><%= variable.name %> = <%=variable.expression_string %></td>
      <td class="delete">
        <%= button_to "Delete this relationship", "#{delete_relationship_path}?id=#{variable.id}",
           {:confirm => "Are you sure you want to delete the relationship for the variable named #{variable.name}?",
            :method => :delete} %>
      </td>
    </tr>
  <% end %>
</table>

<%= render "current_variables" %>
