<% @title = "Equation Editor" %>
<h1>Equation Editor</h1>

<%= render "current_variables" %>

<h3>Current Equations</h3>

<table>
  <% for variable in @variables %>
    <tr>
      <td><%= variable.name %> = <%=variable.expression_string %></td>
      <td><%= button_to "Delete this relationship",
              "/editor/delete_relationship?id=#{variable.id}",
              {:confirm => "Are you sure you want to delete the relationship for the variable named #{variable.name}?",
               :method => :delete} %></td>
    </tr>
  <% end %>
</table>

<h3>Create Equation</h3>
<%= form_for(:new_equation) do |f| %>
  <div>
    <p>
      <%= f.check_box(:array) %>
      <%= f.label(:array, "Is this an array?") %>
    </p>
    <p>
      <%= f.label(:variable_type, "Variable Type:") %>
      <%= f.select(:variable_type, [['Categorical', '0'], ['Integer',
      '1'], ['Real', '2'], ['Date and Time', '3']]) %>
    </p>
    <p>
      <%= f.label(:description, "Description:") %>
      <%= f.text_field(:description) %>
    </p>
    <p>
      <%= f.text_field(:name) %> = <%= f.text_area(:expression_string) %>
    </p>
    <p id="new_equation_submit_paragraph">
      <%= f.submit("Create Equation", :id => "new_equation_submit") %>
    </p>
  </div>
<% end %>
