
<% @title = "Equation Editor" %>

<!--Slider Script -->
<script>
	$(function() {
		$( "#slider" ).slider();
	});
</script>
 
       
<h1>Equation Editor</h1>

<h3>Create Magical Anything You Feel Like</h3>
<%= form_for(:new_equation, :html => {:class => "input_form"}) do |f| %>
<div id="var_input_block">
  <div>
    <%= f.check_box(:array) %>
    <%= f.label(:array, "Is this an array?") %>
  </div>
  <div>
    <%= f.label(:variable_type, "Variable Type:") %>
    <%= f.select(:variable_type, [['Categorical', '0'], ['Integer',
    '1'], ['Real', '2'], ['Date and Time', '3']]) %>
  </div>

  <div>
    <%= f.label(:description, "Description:") %>
    <%= f.text_field(:description) %>
  </div>
  </div>
  <div id = "expression">
    <%= f.text_field(:name) %> = <%= f.text_area(:expression_string) %>
  </div>
  <div style="text-align: right; margin-right: 10px">
    <%= f.submit("Create Equation", :id => "new_equation_submit", :class => "button") %>

  </div>
<% end %>
<h3> Create a Date and Time Variable</h3>

<%= form_for(:date_picker) do |f| %>
  <p>Date: <input type="text" id="datepicker"></p>
  
  <p>Format options:<br />
    <select id="format">
      <option value="mm/dd/yy">Default - mm/dd/yy</option>
      <option value="yy-mm-dd">ISO 8601 - yy-mm-dd</option>
      <option value="d M, y">Short - d M, y</option>
      <option value="d MM, y">Medium - d MM, y</option>
      <option value="DD, d MM, yy">Full - DD, d MM, yy</option>
      <option value="'day' d 'of' MM 'in the year' yy">With text - 'day' d 'of' MM 'in the year' yy</option>
    </select>
  </p>
  
  
  <!-- Slider -->
  <p>
    <label for="time">Time range (in military time):</label>
    <input type="text" id="time" style="border:0; color:#f6931f; font-weight:bold;" />
  </p>
  
  <div id="slider-range"></div>
  
  
  <!--Submit-->
  <div>
    
    <p class="submit_paragraph">
      <%= f.submit("Upload Date", :id => "date_submit", :class => "button") %>
    </p>
  </div>
<% end %>

<p id = "hello">If you click on the "Hide" button, I will disappear.</p>
<button id="hide">Hide</button>



<h3>Upload Array</h3> 
<%= form_for(:new_constant_array, :html => {:multipart => true}) do |f| %>
  <div>
    <p>
      <%= f.label(:variable_type, "Variable Type:") %>
      <%= f.select(:variable_type, [['Categorical', '0'], ['Integer',
      '1'], ['Real', '2'], ['Date and Time', '3']]) %>
    </p>
    <p>
      <%= f.label(:name, "Variable Name:") %>
      <%= f.text_field(:name) %>
    </p>
    <p>
      <%= f.label(:description, "Description:") %>
      <%= f.text_field(:description) %>
    </p>
    <p>
      <%= f.label(:data_file, "Select a CSV file.") %>
      <%= f.file_field(:data_file) %>
    </p>
    <p>
      <%= f.label(:column_number, "Which column is your array in " +
      "(e.g., 0 for the left-most column)?") %>
      <%= f.text_field(:column_number, :class => "numeric_input") %>
    </p>
    <p>
      <%= f.label(:start_row, "Which row does your array start " +
	  "on (e.g., 0 for the top-most row)?") %>
      <%= f.text_field(:start_row, :class => "numeric_input") %>
    </p>
    <p class="submit_paragraph">
      <%= f.submit("Upload Array", :id => "new_equation_submit", :class => "button") %>
    </p>
  </div>
<% end %>

<h3>Current Equations</h3>
<table cellpadding="2px" cellspacing="0">
  <% for variable in @variables %>
    <tr>
      <td><div class="preserve_whitespace"><%= variable.name %> = <%=variable.expression_string %></div></td>
      <td><%= button_to "Delete this relationship",
              "#{delete_relationship_path}?id=#{variable.id}",
              {:confirm => "Are you sure you want to delete the relationship for the variable named #{variable.name}?",
               :method => :delete} %></td>
    </tr>
  <% end %>
</table>

<%= render "current_variables" %>
