<h1>Equation Editor</h1>

<%= render "current_variables" %>

<h1>Variable Editor</h1>

<%= form_for(:new_variable) do |f| %>
  <div>
    <%= f.check_box(:array) %>
    <%= f.label(:array, "Is this an array?") %>
    
    <%= f.select :variable_type, [['Categorical', '0'], ['Integer', '1'], ['Real', '2'], ['Date and Time', '3']] %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    
    <%= f.submit "Create my variable" %>
  </div>
<% end %>

<h1>Current Relationships</h1>

<table>
  <tr>
    <th>Relationship</th>
  </tr>
  <% for variable in @variables %>
    <tr>
      <td><%= variable.name %> = <%=variable.expression_string %></td>
      <td><%= button_to "Delete this relationship",
              "/editor/delete_relationship?id=#{variable.id}",
              {:confirm => "Are you sure you want to delete the relationship for the variable named #{variable.name}?",
               :method => :delete} %></td>
    </tr>
  <% end %>
</table>

<h1>Create Relationship</h1>
<%= form_for(:new_relationship) do |f| %>
  <table>
    <tr>
      <th><%= f.label(:name, "Variable") %></th>
      <th> </th>
      <th><%= f.label :expression_string %></th>
    </tr>
    <tr>
      <td><%= f.text_field :name %></td>
      <td><b><strong> = </strong></b></td> <!--TODO: Remove style information from HTML -->
      <td><%= f.text_area :expression_string %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Save Relationship" %></td>
      <td></td>
    </tr>
  </table>
<% end %>
