<% @title = "Equation Editor" %>

<!--Slider Script -->
<script type="text/javascript">
  $(function() {
    $( "#slider" ).slider();
  });
</script>

<h1>Equation Editor</h1>
<div style="width: 100%;">
	<%= render "current_model" %>
        <%= render(:partial => 'flash_message', :locals => {:flash_symbol => :variable_success, :tag => 'div', :class_name => 'success'}) %>
	<%= render(:partial => 'flash_message', :locals => {:flash_symbol => :variable_error, :tag => 'div', :class_name => 'error'}) %>
	<div id="tabs">
		  <ul>
			<li><a href="#tabs-1">Create Variable</a></li>
			<li><a href="#tabs-2">Create Event</a></li>
			<li><a href="#tabs-3">Upload Array</a></li>
			<li><a href="#tabs-4">Edit Variables</a></li>
		  </ul>
	      <div id="equation_editor_tab_body">
			  <!--- CREATE VARIABLE -->
			  <div id="tabs-1">
					<%= form_for(:new_equation, :html => {:class => "input_form"}) do |f| %>
						<div class="var_input_block">
							  <div>
								<%= f.label(:variable_type, "Variable Type:") %>
								<%= f.select(:variable_type, [['Categorical', '0'], ['Integer',
									'1'], ['Real', '2'], ['Date and Time', '3']]) %>
							  </div>
							  <div>
								<%= f.label(:description, "Description:") %>
								<%= f.text_field(:description, :size => 20) %>
							  </div>
						</div>
						<div id="expression">
							  <%= f.text_field(:name_with_indices) %> = 
							  <%= f.text_area(:expression_string, :class =>'auto_complete_variables') %>
						</div>
						<div id="user_defined_var_comment"> 
							If right hand side is left blank, the variable becomes an "input variable." 
							This means that the user of your model will need to give it a value in the future.
						</div>
						<div class="input_button">
							<%= f.submit("Create Equation", :class => "button") %>
						</div>
					<% end %>
			  </div>
				
			 <!-- CREATE EVENT -->       
			  <div id="tabs-2">
				   <%= form_for(:create_events, :url => create_events_path, :html => {:class => "input_form"}) do |f| %>
						<div class="var_input_block">
								<div>
									<%= f.label(:name, "Name: ") %>
									<%= f.text_field :name %>
								</div>
								<div>
									<%= f.label(:description, "Description: ") %>
									<%= f.text_field :description %>
								</div>
							
								<!-- Slider -->
								<div>
                                                                  <%= f.label(:time_range, "Time range (in military time): ") %>
                                                                  <%= f.text_field(:time_range) %>
								</div>
								
								<div id="slider-style">
									<div id="slider-range"></div>
								</div>
								
								<!-- Repeating -->
								<div> Does this event repeat? </div> 
								<div>
									<%= f.label(:from_date, "From: ")%>
									<!-- Datepicker -->       
									<div>
										<%= f.text_field(:from_date, :class => 'datepicker') %>
									</div>
								</div>
							
								<div>
									<%= f.label(:to_date, "To: ")%>
									<!-- Datepicker -->       
									<div>
										<%= f.text_field(:to_date, :class => 'datepicker') %>
									</div>
								</div>
						  
								<div> 
									Repeat every
								</div>
								<div id="date_range">
									<div>
										<%= f.check_box(:sunday, :name => "create_events[week][]") %>
										<%= f.label(:sunday, :name => "create_events[week][]") %>
									</div>
									<div>
										<%= f.check_box(:monday, :name => "create_events[week][]") %>
                                                                                <%= f.label(:monday, :name => "create_events[week][]") %>
									</div>
									<div>
										<%= f.check_box(:tuesday, :name => "create_events[week][]") %>
										<%= f.label(:tuesday, :name => "create_events[week][]") %>
									</div>
									<div>
										<%= f.check_box(:wednesday, :name => "create_events[week][]") %>
										<%= f.label(:wednesday, :name => "create_events[week][]") %>
									</div>
									<div>
										<%= f.check_box(:thursday, :name => "create_events[week][]") %>
										<%= f.label(:thursday, :name => "create_events[week][]") %>
									</div>
									<div>
										<%= f.check_box(:friday, :name => "create_events[week][]") %>
										<%= f.label(:friday, :name => "create_events[week][]") %>
									</div>
									<div>
										<%= f.check_box(:saturday, :name => "create_events[week][]") %>
										<%= f.label(:saturday, :name => "create_events[week][]") %>
									</div>
								</div>
								<br />
						</div> 
						
						<!--Submit-->
						<div>
							<div class="input_button">
								<%= f.submit("Create Event", :id => "event_submit", :class => "button") %>
							</div>
						</div>
					<% end %>
			  </div>
				
				<!--CREATE ARRAY -->
				<div id="tabs-3">
				<%= form_for(:new_constant_array, :html => {:multipart => true, :class => "input_form"}) do |f| %>
				  <div class="var_input_block">
						<div>
						  <%= f.label(:name, "Variable Name:") %>
						  <%= f.text_field(:name) %>
						</div>
						<div>
						  <%= f.label(:variable_type, "Variable Type:") %>
						  <%= f.select(:variable_type, [['Categorical', '0'], ['Integer',
						  '1'], ['Real', '2'], ['Date and Time', '3']]) %>
						</div>
						<div>
						  <%= f.label(:description, "Description:") %>
						  <%= f.text_field(:description) %>
						</div>
						<div>
						  <%= f.label(:column_number, "Column of array ") %>
						  <%= f.text_field(:column_number, :class => "numeric_input") %>  <span class="comment">e.g., 1 or A for the left-most column </span>
						</div>
						<div>
						  <%= f.label(:start_row, "First row of array ") %>
						  <%= f.text_field(:start_row, :class => "numeric_input") %>  <span class="comment">e.g., 1 for the top-most row </span>
						</div>
						<div>
						  <%= f.label(:data_file, "Select a CSV file.") %>
						  <%= f.file_field(:data_file, :class => "choose_file") %>
						</div>
						<br />
				  </div>
				 
				  <div class="input_button">
					  <%= f.submit("Upload Array", :id => "file_upload_submit", :class => "button") %>
				  </div>
				<% end %>
			 </div>
			 <div id="tabs-4">
				<%= render "current_equations" %>
			 </div>
		 </div>
	</div>

	<%= render "current_variables" %>
</div>
