<h1> Variable Editor </h1>
<%= form_for(:new_var) do |f| %>
  <%= f.check_box(:const) %>
  <%= f.label(:const, "Is this a constant?") %>
  
  <%= f.check_box(:array) %>
  <%= f.label(:array, "Is this an array?") %>
  
  <%= f.select :variable_type, [['Categorical', 0],['Integer', 1],['Real', 2], ['Date and Time', 3]] %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  
  <%= f.submit "Create my variable"%>
<% end %>

<h1> Current Variables </h1>

<table>

  <tr>
    <th>Constant?</th>
    <th>Array?</th>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
  </tr>



  <% for variable in @variables %>
    <tr>
      <td><%= variable.const %></td>
      <td><%= variable.array %></td>
      <td><%= variable.variable_type %></td>
      <td><%= variable.name %></td>
      <td><%= variable.description %></td>
    </tr>
  <% end %>

</table>

<p><%= link_to "Equation Editor", equationeditor_path %> 
	| <%= link_to "Home",  root_path %>
</p>