<h1> Variable Editor </h1>
<%= form_for(:new_var) do |f| %>
    <%= f.check_box_tag(:const) %>
    <%= f.label_tag(:const, "Is this a constant?") %>
    
    <%= f.check_box_tag(:array) %>
    <%= f.label_tag(:array, "Is this an array?") %>
    
    <%= f.select :type, [['Categorical', 'categorical'],['Integer', 'integer'],['Float', 'real'], ['Date', 'date']] %>
    
    <%= f.label :name %>
	<%= f.text_field :name %>
    
    <%= f.label :description %>
	<%= f.text_field :description %>

	<%= f.label :value %>
	<%= f.text_field :value %>

	<%= f.submit "Create my variable", class: "btn btn-large btn-primary" %>
<% end %>

<h1> Current Variables </h1>
<table>
<tr>
<th>Constant?</th>
<th>Array?</th>
<th>Type? </th>
<th>Name?</th>
<th>Description?</th>
<th>Value?</th>
</tr>



<% for variable in @variables %>
<tr>
<td><%= variable.const %></td>
<td><%= variable.array %></td>
<td><%= variable.type %></td>
<td><%= variable.name %></td>
<td><%= variable.description %></td>
<td><%= variable.value %></td>
</tr>

<% end %>
</table>