<h1> Variable Editor </h1>
<%= form_for(:new_var) do |f| %>
  <%= check_box_tag(:const) %>
  <%= label_tag(:const, "Is this a constant?") %>
  
  <%= check_box_tag(:array) %>
  <%= label_tag(:array, "Is this an array?") %>
  
  <%= f.select :type, [['Categorical', 'categorical'],['Integer', 'integer'],['Float', 'real'], ['Date', 'date']] %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  
  <%= f.submit "Create my variable"%>
<% end %>

<h1> Current Variables </h1>

<table>

  <tr>
    <th>Constant?</th>
    <th>Array?</th>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
  </tr>



  <% for variable in @variables %>
    <tr>
      <td><%= variable.const %></td>
      <td><%= variable.array %></td>
      <td><%= variable.type %></td>
      <td><%= variable.name %></td>
      <td><%= variable.description %></td>
    </tr>
  <% end %>

</table>
