<% @title = 'Login' %>
<%= render(:partial => 'flash_message', :locals => {:flash_symbol =>:account_created, :tag => 'p', :class_name => 'success'}) %>
<div class="login-form-wrapper">
<%= form_for(:user) do |f| %>
    <div class = "login" >
      <%= f.label(:email, 'Email:') %>
      <%= f.text_field(:email) %>
    </div>
    <div class = "login" >
      <%= f.label(:password, 'Password:') %>
      <%= f.password_field(:password) %>
    </div>
    <%= render(:partial => 'flash_message', :locals => {:flash_symbol => :wrong_login, :tag => 'div', :class_name => 'error'}) %>
    <div class="login">
      <%= f.submit('Login', :class => "button") %>
    </div>
<% end %>
</div>
<p class = "register">If you don't already have an account, click <a href="<%= register_path %>">here</a> to create a new one.</p>
