<% @title = 'Create Your Account' %>

<div id = "register_title">
	Create an Account
</div>
<%= form_for(@user, :url => register_path, :html => {:id => "register_form"}) do |f| %>
  <% errors = @user.errors %>
  <%= render(:partial => 'registration_field', :locals => {:field => :first_name,
                     :prompt => 'First name:', :is_password => false,
                     :errors => errors, :form => f}) %>
  <%= render(:partial => 'registration_field', :locals => {:field => :last_name,
                     :prompt => 'Last name:', :is_password => false,
                     :errors => errors, :form => f}) %>
  <%= render(:partial => 'registration_field', :locals => {:field => :email,
                     :prompt => 'Email address:', :is_password => false,
                     :errors => errors, :form => f}) %>
  <%= render(:partial => 'registration_field', :locals => {:field => :organization,
                     :prompt => 'Organization:', :is_password => false,
                     :errors => errors, :form => f}) %>
  <%= render(:partial => 'registration_field', :locals => {:field => :password,
                     :prompt => 'Create password:', :is_password => true,
                     :errors => errors, :form => f}) %>
  <%= render(:partial => 'registration_field', :locals => {:field => :password_confirmation,
                     :prompt => 'Confirm password:', :is_password => true,
                     :errors => errors, :form => f}) %>
  <div style="text-align: center; margin-top:20px">
    <%= f.submit('Create Account', :class => "button") %>
  </div>
<% end %>
