
<h3>Current Variables</h3>
 
<table cellpadding="0" cellspacing="0" class="tablesorter" id = "variables_table">
<thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
	<th>Equation</th>
    <th></th>
	<th></th>
  </tr>
</thead>
<tbody>
  <% for variable in @variables %>
    <tr>
        <td><%= variable.name_with_indices %> </td>
        <td><%= variable.description %></td>
		<td><%= variable.variable_type_string %>
		<td><%= variable.name_with_indices %> = <%= truncate(variable.expression_string, :length =>17, :omission => '...(continued)') %></td>
        <td>
        <%= link_to "Show All!", fullvariable_path(:name => variable.name_with_indices), :target => "_blank"%>
        
        </td>
		<td align="center">
		<%= button_to "x", "#{delete_variable_path}?id=#{variable.id}",
		{:confirm => "Are you sure you want to delete the variable named #{variable.name}?",
          :method => :delete} %>
		</td> 
    </tr>
  <% end %>
</tbody>  
</table>
