<% truncated_array = '' %>
<% if !variable.input?
        match_object = /\|\s*(.*)\s*\]/.match(variable.expression_string)
        if !match_object.nil?
          truncated_array = match_object[1]
        end
    end %>
<%	if variable.array? and !variable.input? and !truncated_array.empty?
		comma_separated_array = truncated_array.split(/\s*,\s*/)
		num = comma_separated_array.size
%>
	<div id="full_array">
	<h1><% if variable.input? %>
				<span class="user_defined_var">
				 <%= variable.name %> 
				</span>
		    <% else %>
				<%= variable.name %>
			<% end %>
	</h1>
		<table>
            <tr>
				<th>index</th>
				<% for k in 1..10 %>
				<th><%= k %></th>
				<% end %>
            </tr>
		<% i = 0
			while i < num %>
			<tr>
				<td class ="col_header"><%= i %></td>
			<% for j in 0..9 %>
				<td>
				<%= comma_separated_array[i+j] %>
				</td>
			<% end %>
			</tr>
	<% i+=10;
		end 
	%>
	</table>
	</div>
<% else %>
<h1><%= variable.name %></h1>
<% if variable.input? %>
	<span class="user_defined_var">
		<%= variable.name %> 
	</span>
<% else %>
	<%= variable.name %>
<% end %>
	= <%=variable.expression_string %>
<% end %>
