<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Lembic</title>
    <%= javascript_include_tag "jquery-1.7.2.min" %>
    <%= javascript_include_tag "jquery-ui-1.8.20.custom.min" %>
    <%= stylesheet_link_tag     "jquery-ui-1.8.20.custom", :media => "all" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    
    
    <script type="text/javascript">
			$(function(){

				// Accordion
				$("#accordion").accordion({ header: "h3" });

				// Tabs
				$('#tabs').tabs();

				// Dialog
				$('#dialog').dialog({
					autoOpen: false,
					width: 600,
					buttons: {
						"Ok": function() {
							$(this).dialog("close");
						},
						"Cancel": function() {
							$(this).dialog("close");
						}
					}
				});

				// Dialog Link
				$('#dialog_link').click(function(){
					$('#dialog').dialog('open');
					return false;
				});

				// Datepicker
				$('#datepicker').datepicker({
					inline: true
				});

				// Slider
				$('#slider').slider({
					range: true,
					values: [17, 67]
				});

				// Progressbar
				$("#progressbar").progressbar({
					value: 20
				});

				//hover states on the static widgets
				$('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
				);

			});
		</script>
        
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    
    <%= image_tag "lembic_blue.png" %>
    <div id="container">
      <div id="menu">
        <div class="menu_item"><%= link_to "Home",  root_path, {:style=>'color:#dee6ed;', :class => "css_class"} %></div>  
        <div class="menu_item"><%= link_to "Help", help_path, {:style=>'color:#dee6ed;', :class => "css_class"} %></div>    
        <div class="menu_item"><%= link_to "Editor", "/editor/equations", {:style=>'color:#dee6ed;', :class => "css_class"} %></div>  
        <div class="menu_item"><%= link_to "Evaluator", "/evaluator", {:style=>'color:#dee6ed;', :class => "css_class"} %></div></p>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
  
</html>
